.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow: hidden;
}

/* #image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -20%);
  user-select: none;
} */

#image-track {
  display: flex;
  gap: 2vmin;
  /* Space between images */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -20%);
  user-select: none;
  transition: transform 1s ease;
  /* Disable interactions with track */
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#image-track .time {
  position: relative;
}

#image-track .time2 {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  /* Ensure images cover the space */
}